html{

	overflow-y: scroll;
	
}


body{

	padding: 139px 0 0 0;

}

#main_view
{

	min-height: 500px;

}

#map
{

	height:350px;

	max-height:350px;

}

#map img {

	max-width: none;

}


.tabbable{

	height:426px;

	max-height:426px;

}

.footer{

	margin: 20px 0 20px 0;


}

#map_functions_bar{

	margin: 0 0 18px 0;


}

.slider_main_row{

	background-color: black;

	height:35px;

}

.slider_main_row.orange{

	border-bottom:3px solid orange;

}

.slider_main_row.blue{

	border-bottom:3px solid #74BFD9;

}

.slider_bullet_div{

	padding: 5px 0 0 5px;

}

.square_bullet{

	width: 85%;

	padding: 24px 0 0 0;

}

.square_bullet.orange{

	background-color: orange;

}

.square_bullet.blue{

	background-color: #74BFD9;

}

.slider_container_value{

	font-size: 2em; 

 	line-height:34px

}

.slider_container_value.orange{

	color:orange; 

}

.slider_container_value.blue{

	color:#74BFD9; 

}

.slider_subtitle{

	font-size: 0.5em;

	color: white;

}

.pac-container{

	border-radius: 4px;

	margin-top: 15px;

}
